<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header >
      <mat-toolbar >
         <mat-toolbar-row>
          <!-- <button mat-button type="button" id="featureBtn" title="Feature"  routerLink="/features" >  
            <h2>Features</h2>
         </button> -->
         <button style="width: fit-content;" id="featureBtn" mat-button type="button"  title="About App"  routerLink="/aboutUs" > 
          <h2>About App</h2>
         </button>
         <!-- <button style="width: fit-content;margin: 5px;" mat-button type="button"  title="FeedBack"  routerLink="/feedBack" > 
          <h2>FeedBack</h2>
         </button> -->
          <button mat-button id="loginbtn" title="Login"  routerLink="/Login" href="/Login">  
           Login
        </button>
        <button mat-button  id="SignUpBtn" title="Registration"  routerLink="/SignUp" >  
          Start For Free
       </button>
       </mat-toolbar-row></mat-toolbar>
    </header>

    <main>
      <div>
        <div class="front1">
          <p style="font-size:50px;margin-bottom:2%;line-height: 0.8;">FROM OVERWELMED TO ON  TOP OF IT</p>
          <br>
        <p style="line-height:1">Todoist gives you the confidence that everything’s organized and accounted for, so you can make progress on the things that are important to you.</p>
        <br><br><br><br>
        <button mat-button  id="SignUpBtn2" title="Registration"  routerLink="/SignUp" >  
          Start For Free
       </button></div>
        <!-- <div class="front2"></div> -->
      </div>
     
    </main>
  </body>
</html>

 