<div id="loginForm">
    <h1 class="card-header text-center fw-bold fs-6 border-white">To Do Tracker Forgot Password</h1>
    <div class="card-body">
      <form [formGroup]=" resetPasswordForm" >
        <mat-form-field appearance="outline">
        <input matInput type="text" id="userName"  placeholder="Enter User Name" formControlName="userName" >
        <div class="form-text text-danger" *ngIf="userName.errors?.['required'] && (userName.touched || userName.dirty)">
            User Name Is Required
        </div>
        <div class="form-text text-danger" *ngIf="userName.errors?.['minlength'] && (userName.touched || userName.dirty)">
            User Name Required Minimum 4 characters
        </div>
        <div class="form-text text-danger" *ngIf="userName.errors?.['maxlength'] && (userName.touched || userName.dirty)">
            User Name Has Maximum 20 characters
        </div>
        <div class="form-text text-danger" *ngIf="userName.errors?.['pattern'] && (userName.touched || userName.dirty)">
            Follow The Pattern
        </div>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label for="userEmailId" class="form-label">User Email Id</mat-label>
    <input matInput type="email" id="email"  placeholder="Enter Email" formControlName="userEmailId"  >
        <div class="form-text text-danger" *ngIf="userEmailId.errors?.['required'] && (userEmailId.touched || userEmailId.dirty)">
            User Email Is Required
        </div>
        <div class="form-text text-danger" *ngIf="userEmailId.errors?.['minlength'] && (userEmailId.touched || userEmailId.dirty)">
            User Email Required Minimum 4 characters
        </div>
        <div class="form-text text-danger" *ngIf="userEmailId.errors?.['maxlength'] && (userEmailId.touched || userEmailId.dirty)">
            User Email Has Maximum 50 characters
        </div>
        <div class="form-text text-danger" *ngIf="userEmailId.errors?.['pattern'] && (userEmailId.touched || userEmailId.dirty)">
            Follow Pattern Of Mail id
        </div>
       
</mat-form-field>

<mat-form-field  appearance="outline" >
  <mat-label >User  PassWord</mat-label>
  <input matInput [type]="hide ? 'password' : 'text'"  id="inputWidth" formControlName="userPassword" matInput type="text" placeholder="Enter Password Here">
   <mat-hint>Must Have digit/UpperCase/LowerCase</mat-hint> 
   <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
   <div class="form-text text-danger" *ngIf="userPassword.errors?.['required'] && (userPassword.touched || userPassword.dirty)">
                    User Password Is Required
            </div>
            <div class="form-text text-danger" *ngIf="userPassword.errors?.['minlength'] && (userPassword.touched || userPassword.dirty)">
                    User Password is Weak
            </div>
            <div class="form-text text-danger" *ngIf="userPassword.errors?.['maxlength'] && (userPassword.touched || userPassword.dirty)">
                    User Password is Strong
            </div>
            <div class="form-text text-danger" *ngIf="userPassword.errors?.['pattern'] && (userPassword.touched || userPassword.dirty)">
              Minimum 6 characters
At least 1 upper case English letter
At least 1 lower case English letter
At least 1 letter
At least 1 special character
      </div>
</mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Confirm Passwords</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" type="password" name="confirmPassword" formControlName="confirmPassword">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            <div *ngIf=" resetPasswordForm.get('confirmPassword')?.errors?.['passmatching']">Password must match
            </div>  
          </mat-form-field> 
  
        
        <div class="text-center">
          <button type="submit" class="btn btn-outline-light" [disabled]="! resetPasswordForm.valid" (click)="changepassword(resetPasswordForm.value)">change password</button>
          <button mat-flat-button (click)="cancel()">cancel</button>
        </div>
      </form>
    </div>
  </div>