<section style="padding: 20px;">
    <div >
   <img class="img-fluid mb-2 achievement-image" src="https://media0.giphy.com/media/elbGvMhQefvt55C4eg/giphy.webp?cid=ecf05e47qdi7qvcqfqkf6bfh6enovlifwqcqstyiiz03tmdh&rid=giphy.webp&ct=g"/>            
    </div>

    
   <footer>
    <div > 
      <h1> To Do Tracker</h1>
                <mat-divider></mat-divider>
              <h3> <p> To-do Tracker can help you get, and stay,
                on top of important projects and piles of tasks or decisions. For instance, imagine you're heading a team that's
                working on a project. There are so many tasks to do, and so many people doing them,
                that staying on top of it all seems overwhelming.
              </p></h3>  
                 
               <h3>     To-do Tracker can help you get, and stay,
                on top of important projects and piles of tasks or decisions. For instance, imagine you're heading a team that's
                working on a project. There are so many tasks to do, and so many people doing them,
                that staying on top of it all seems overwhelming</h3>
    </div>
   </footer>
  </section>
